<h2>All Users</h2>




<table>
	<thead>
		<tr>
			<th> Name </th>
			<th> Assigned Giftee </th>
		</tr>
	</thead>

	<% if @users %>
		<% @users.each do |user| %>
			<tr>
				<td>
					<%= link_to "#{user.firstname} #{user.lastname}", user_path(user_id: user.id) %>
				</td>
					<% if @giftees %>
						<td>
							<%= @giftees.where(gifter_id: user.id) %>
						</td>	
					<% end %>
			</tr>		
		<% end %>
	<% end %>
</table>


