<h2>Item Detail</h2>

<p> Name: <%= @item.name %> </p>
<p> Price: $<%= @item.price %></p>
<p> Other details...</p>

<h3> Members who added this item to their wishlists </h3>

<ul>
	<% @users.each do |user| %>
	<li> <%= user.firstname %> <%= user.lastname %> </li>
	<% end %>
</ul>

	





