/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	color: black;
}

#error {
	color: red;
}

.jumbotron {
	background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BAkiNR2in00wzqn/top-view-hands-holding-christmas-presents-on-red-background-from-above-gift-wrapped-in-brown-paper-and-tied-white-ribbon_rcc_jnlee_thumbnail-full01.png');
	color: white !important;
	height: 200px;
	margin-bottom: 0px;
}


.navbar {
    margin-bottom: 0;
    background-color: #185904;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-weight: bold;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #185904 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer {
	background-color: #185904;
	color: white;
	font-weight: bold;
	padding: 20px;
}

footer p {
	margin-top: 20px;
}

footer a {
	color: white;
	padding: 20px 10px;
	letter-spacing: 4px;
	font-size: 14px;

}

footer a:hover {
	background-color: white;
	color: #185904;
	text-decoration: none;

}

.green {
	background-color: #547313;
	color: white;
}

.darkgreen {
	
	background-color: #185904;
	color: white;
}

.darkgreen button, .other-buttons {
	background-color: #c5a965;
	color: #185904;
	border-style: none;
}

.row {
	padding: 30px;
}

.contents a {
	color: #c3a665;
	font-weight: bolder;
	padding: 3px;
}

.contents a:hover {
	color: white;
	text-decoration: none;
}

.red a {
	color: #ab0a13;
	font-weight: bolder;
}

.red a:hover {
	color: #ab0a13;
	font-style: italic;
}

td {
	padding-right: 20px;
}

input, select {
	color: black;
}
